<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <meta charset="UTF-8">
    <title><th:block th:text="${title}"></th:block></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- BOOTSTRAP STYLES-->
    <link href="/res/assets/css/bootstrap.css" rel="stylesheet" />
    <!--Time Picker-->
    <link href="/res/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/res/assets/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="/res/assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="/res/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />-->
    <!-- ECharts SCRIPTS -->
    <script src="/res/js/echarts.js"></script>
    <script>
        function change(url){
            $('#page-inner').load(url)
        }
        function logout(){
            con=confirm("安全退出系统？");
            if(con==true) {
                window.location.href = "/logout";
            }
        }
    </script>
</head>
<body>
<div id="nav" th:fragment="nav" style="background-color: #C6E746">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">考试报名及考务管理系统</a>
        </div>

        <div class="header-right">

            <a href="#" class="btn btn-info" title="New Message"><b>15 </b><i class="fa fa-envelope-o fa-2x"></i></a>
            <a href="#" class="btn btn-primary" title="New Task"><b>9 </b><i class="fa fa-bars fa-2x"></i></a>
            <small onclick="logout()"><a href="#" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a></small>

        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation" style="background-color: #afd9ee">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <div class="user-img-div">
                        <th:block th:if="${session.user.photo!=null&&session.user.photo!=''}">
                        <img th:src="'/img/'+${session.user.photo}" class="img-thumbnail" />
                        </th:block>
                        <th:block th:unless="${session.user.photo!=null&&session.user.photo!=''}">
                        <img src="/res/assets/img/user.png" class="img-thumbnail" />
                        </th:block>
                        <div class="inner-text" th:object="${session.user}">
                            <span th:text="*{userName}"></span>
                            <br />用户角色：
                            <th:block th:switch="*{role}">
                                <span th:case="0">考务院</span>
                                <span th:case="1">市州办</span>
                                <span th:case="2">院校</span>
                                <span th:case="3">考生</span>
                             </th:block>
                            <br />
                        </div>
                    </div>

                </li>
                <!-- /. 系统用户头 -->
                <li>
                    <a href="/home" class="active-menu"><i class="fa fa-dashboard "></i>主页</a>
                </li>
                <!--role:0管理员，1市州，2老师，3考生-->
                <!--考生个人导航条-->
                <th:block th:if="${session.user.role}==3">
                <li>
                    <a href="#"><i class="fa fa-desktop "></i>考试信息<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/student/examList"><i class="fa fa-toggle-on"></i>考试列表</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-yelp "></i>考试管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/student/toWaitAudit"><i class="fa fa-coffee"></i>待审核</a>
                        </li>
                        <li>
                            <a href="/student/toAlreadyAudit"><i class="fa fa-coffee"></i>已审核</a>
                        </li>
                        <li>
                            <a href="/student/toWaitPay"><i class="fa fa-coffee"></i>待缴费</a>
                        </li>
                        <li>
                            <a href="/student/toAlreadyPay"><i class="fa fa-coffee"></i>已缴费</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/student/inquireGrades"><i class="fa fa-flash "></i>成绩查询</a>
                </li>
                <li>
                    <a href="/student/inquireViolation"><i class="fa fa-flash "></i>违纪查询</a>
                </li>
                <li>
                        <a href="/student/admissionTicket"><i class="fa fa-flash "></i>打印准考证</a>
                </li>
                <li>
                    <a href="/userInfo/personalInfo"><i class="fa fa-bicycle "></i>个人信息 </a>
                </li>
                </th:block>

                <!--院校导航条-->
                <th:block th:if="${session.user.role}==2">
                <li>
                    <a href="/userInfo/studentInfo"><i class="fa fa-bicycle "></i>学生信息管理 </a>
                </li>
                <li>
                    <a href="/school/toGroupEnterIn"><i class="fa fa-bicycle "></i>集体报名 </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-yelp "></i>报考管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/school/toGroupApply"><i class="fa fa-coffee"></i>集体报考 </a>
                        </li>
                        <li>
                            <a href="/school/toGroupPay"><i class="fa fa-coffee"></i>统一缴费 </a>
                        </li>
                    </ul>
                </li>
                    <li>
                        <a href="/school/examInformation"><i class="fa fa-bicycle "></i>报考信息查询 </a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-yelp "></i>白名单 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/school/whitelist"><i class="fa fa-coffee"></i>设置白名单 </a>
                            </li>
                            <!--                            <li>-->
                            <!--                                <a href="/examinee/examList?pay=1"><i class="fa fa-coffee"></i>查看白名单信息 </a>-->
                            <!--                            </li>-->
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-yelp "></i>考场信息上报 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/school/examRoom"><i class="fa fa-coffee"></i>考场信息 </a>
                            </li>
                            <li>
                                <a href="/school/examteacherInfo"><i class="fa fa-coffee"></i>考务人员信息 </a>
                            </li>
                        </ul>
                    </li>
                <li>
                    <a href="/userInfo/personalInfo"><i class="fa fa-bicycle "></i>个人信息 </a>
                </li>
                </th:block>

                <!--市州办个人导航条-->
                <th:block th:if="${session.user.role}==1">
                    <li>
                        <a href="#"><i class="fa fa-bicycle "></i>成员信息管理 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/userInfo/teacherInfo"><i class="fa fa-toggle-on"></i>院校信息</a>
                            </li>
                            <li>
                                <a href="/userInfo/studentInfo"><i class="fa fa-toggle-on"></i>考生信息</a>
                            </li>
                            <li>
                                <a href="/userInfo/personalInfo"><i class="fa fa-bell "></i>个人信息</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bicycle "></i>考点信息管理 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/mayor/roomManage"><i class="fa fa-bicycle "></i>考点信息</a>
                            </li>
                            <li>
                                <a href="/mayor/toExamRoomManage"><i class="fa fa-bell "></i>考场编排</a>
                            </li>
                            <li>
                                <a href="/mayor/toExamTeacher"><i class="fa fa-bell "></i>考务人员管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/mayor/toPreview"><i class="fa fa-bell "></i>现场审核</a>
                    </li>
                    <li>
                        <a href="/mayor/lookTicket"><i class="fa fa-bell "></i>生成准考证</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bicycle "></i>违纪管理 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/mayor/toReportViolate"><i class="fa fa-toggle-on"></i>上报违纪情况</a>
                            </li>
                            <li>
                                <a href="/mayor/violateCode"><i class="fa fa-bell "></i>违纪编码库</a>
                            </li>
                            <li>
                                <a href="/mayor/violateInfo"><i class="fa fa-bell "></i>违纪情况查询</a>
                            </li>
                        </ul>
                    </li>

                </th:block>

                <!--考务院个人导航条-->
                <th:block th:if="${session.user.role}==0">
                    <li>
                        <a href="#"><i class="fa fa-bicycle "></i>考试信息管理 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/examOffice/examType"><i class="fa fa-toggle-on"></i>考试类型</a>
                            </li>
                            <li>
                                <a href="/examOffice/toPublishExam"><i class="fa fa-toggle-on"></i>考试信息发布</a>
                            </li>
                            <li>
                                <a href="/examOffice/examInfo"><i class="fa fa-bell "></i>考试信息</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bicycle "></i>评卷管理 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/examOffice/toTestPaperPlan"><i class="fa fa-bicycle "></i>评卷计划</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bicycle "></i>违纪管理 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/examOffice/violateCode"><i class="fa fa-bicycle "></i>违纪编码库</a>
                            </li>
                            <li>
                                <a href="/examOffice/punishCode"><i class="fa fa-bell "></i>处罚编码库</a>
                            </li>
                            <li>
                                <a href="/examOffice/violateRecords"><i class="fa fa-bell "></i>违纪记录管理</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-bicycle "></i>用户管理 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/userInfo/personalInfo"><i class="fa fa-toggle-on"></i>个人信息</a>
                            </li>
                            <li>
                                <a href="/userInfo/mayorInfo"><i class="fa fa-bell "></i>市州人员</a>
                            </li>
                            <li>
                                <a href="/userInfo/teacherInfo"><i class="fa fa-toggle-on"></i>院校人员</a>
                            </li>
                            <li>
                                <a href="/userInfo/studentInfo"><i class="fa fa-bell "></i>考生人员</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/examOffice/toGradesManage"><i class="fa fa-bicycle "></i>成绩管理 </a>
                    </li>
                </th:block>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
</div>
</body>
</html>
