<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('考试信息')"></div>
<body>
<div id="wrapper" class="row">
    <div th:replace="common/header::nav"></div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>报考编号</th>
                            <th>考生编号</th>
                            <th>准考证号</th>
                            <th>考试编号</th>
                            <th>考生学校</th>
                            <th>考生类型</th>
                            <th>报考院校</th>
                            <th>审核状态</th>
                            <th>报考状态</th>
                            <th>缴费状态</th>
                            <th>开考状态</th>
                            <th>成绩</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="u:${userInformationList}">
                            <tr >
                                <td th:text="${u.enterId}"></td>
                                <td th:text="${u.userId}"></td>
                                <td th:text="${u.examineeNumber}"></td>
                                <td th:text="${u.publishId}"></td>
                                <td th:text="${u.curSchool}"></td>
                                <td th:text="${u.stuType}"></td>
                                <td th:text="${u.wantSchool}"></td>
                                <td th:text="${u.previewStatus}"></td>
                                <td th:text="${u.applyStatus}"></td>
                                <td th:text="${u.payStatus}"></td>
                                <td th:text="${u.examStatus}"></td>
                                <td th:text="${u.grades}"></td>
                            </tr>
                        </th:block>
                        <tr th:unless="${#lists.size(userInformationList)>0}">
                            <td colspan="3">未查询到已发布考试信息！</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. WRAPPER  -->

<div th:replace="common/footer"></div>
</body>
</html>