<!DOCTYPE html>
<html lang="en">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('添加考场')"></div>
<div id="wrapper" class="row">
    <div th:replace="common/header::nav"></div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel-body">
                    <div th:text="${msg}" style="color: red;"></div>
                    <form th:action="'/school/examRoomAdd'" method="post">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th style="width:40%;"></th>
                                    <th>考场信息</th>
                                </tr>
                                </thead>
                                <tbody th:object="${examRoomInformation}">

                                <tr>
                                    <td>考场编号</td>
                                    <td>
                                        <input type="text" id="examRoomNum" name="examRoomNum" class="required" placeholder="考场编号">
                                    </td>
                                </tr>
                                <tr>
                                    <td>考场位置</td>
                                    <td>
                                        <input type="text" id="examRoomLocate" name="examRoomLocate" class="required" placeholder="考场类型">
                                    </td>
                                </tr>

                                <tr>
                                    <td>所属院校</td>
                                    <td>
                                        系统填写此字段，我们会根据提交老师所属院校自动提交。
                                        <input type="text" id="roomId" name="roomId" class="required" placeholder="1" value="1" hidden>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-primary">添加</button>
                            <button class="btn btn-warning">
                                <a href="/school/examRoom" style="color:white;">取消</a>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /. ROW  -->
</div>
<!-- /. PAGE INNER  -->
</div>
<!-- /. WRAPPER  -->

<div th:replace="common/footer"></div>
</body>
</html>