<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('集体缴费')"></div>
<body>

<div id="wrapper" class="row">
    <div th:replace="common/header::nav"></div>
    <div id="page-inner">
        <div class="row">
            <div class="panel-heading">
                <div th:text="${msg}" style="color: red;"></div>
                未缴费
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>考生编号</th>
                            <th>考生学校</th>
                            <th>考生类型</th>
                            <th>报考院校</th>
                            <th>报考状态</th>

                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="u:${applicationInformationList}">
                            <tr >
                                <td th:text="${u.userId}"></td>
                                <td th:text="${u.curSchool}"></td>
                                <td th:text="${u.stuType}"></td>
                                <td th:text="${u.wantSchool}"></td>
                                <td th:text="${u.applyStatus}"></td>
                            </tr>
                        </th:block>

                        </tbody>
                    </table>

                    <tr th:if="${#lists.size(applicationInformationList)>0}">
                        <button class="btn btn-warning">
                            <a href="/school/groupPay" style="color:white;">集体缴费</a>
                        </button>
                    </tr>

                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. WRAPPER  -->

<div th:replace="common/footer"></div>



</body>
</html>