<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('考生报名')"></div>
<body>
<div id="wrapper" class="row">
    <div th:replace="common/header::nav"></div>
    <div id="page-inner">
            <div class="row" >
                <div class="panel-heading">
                    <div th:text="${msg}" style="color: red;"></div>
                    输入已发布的考试编号
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <form action="/school/toGroupEnter" method="get">
                            <input type="text" class="form-control" name="publishId" id = "publishId">
                            <button type="submit">确认</button>
                        </form>
                    </div>
                </div>
            </div>

        <!-- /. ROW  -->
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. WRAPPER  -->

<div th:replace="common/footer"></div>
</body>
</html>