<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('白名单信息')"></div>
<body>
<div id="wrapper" class="row">
    <div th:replace="common/header::nav"></div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>白名单编号</th>
                            <th>考生编号</th>
                            <th>考生身份证号码</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="w:${whitelist}">
                            <tr >
                                <td th:text="${w.listId}"></td>
                                <td th:text="${w.userId}"></td>
                                <td th:text="${w.certificateId}">1</td>
                            </tr>
                        </th:block>
                        <tr th:unless="${#lists.size(whitelist)>0}">
                            <td colspan="3">未查询到白名单信息！</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. WRAPPER  -->

<div th:replace="common/footer"></div>
</body>
</html>