<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('考试类型更新')"></div>

<body>
<div id="wrapper" class="row">
    <div th:replace="common/header::nav"></div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div th:text="${msg}" style="color: red;"></div>
                        考试类型信息表
                    </div>
                    <div class="panel-body">
                        <form action="/examOffice/examTypeUpdate" method="post">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th style="width:40%;"></th>
                                        <th>信息</th>
                                    </tr>
                                    </thead>
                                    <tbody th:object="${updateType}">
                                    <tr>
                                        <td>考试类型编码</td>
                                        <td>
                                            <input type="text" name="typeId" class="required" placeholder="考试类型编码" readonly="readonly" th:value="*{typeId}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>考试类型名称</td>
                                        <td>
                                            <input type="text" name="typeName" class="required" placeholder="考试类型名称" th:value="*{typeName}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>描述</td>
                                        <td>
                                            <input type="text" name="certificate" class="required" placeholder="考试类型描述" th:value="*{certificate}">
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                <button type="submit" class="btn btn-primary">保存</button>
                                <button class="btn btn-warning">
                                    <a href="/examOffice/examType" style="color:white;">取消</a>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. ROW  -->
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. WRAPPER  -->

<div th:replace="common/footer"></div>
</body>
</html>