<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('成绩管理')"></div>
<body>
<div id="wrapper" class="row">
    <div th:replace="common/header::nav"></div>
    <div id="page-inner">
        <div class="row">
            <div th:text="${msg}" style="margin-left:40px; color: red;"></div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <select class="form-control" name="examType">
                                    <option value="" selected>考试类型</option>
                                    <option th:each="e:${examMenu}" th:text="${e.typeName}" th:onclick="'/examOffice/toGradesManageOne?typeId='+${e.typeId}" style="color:orangered;"></option>
                                </select>
                            </th>
                            <th>考生编号</th>
                            <th>违规情况</th>
                            <th>分数</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="g:${gradesInfo}">
                            <tr>
                                <td th:text="${g.publishId}">1</td>
                                <td th:text="${g.examineeNumber}">1</td>
                                <td th:if="${g.payStatus}==0">无</td>
                                <td th:unless="${g.payStatus}==0">违纪</td>
                                <td th:text="${g.grades}">100</td>
                                <td th:if="${g.examStatus}==0">
                                    <form action="/examOffice/gradesManage" method="post">
                                        <input type="hidden" class="form-control" name="enterId" th:value="${g.enterId}"/>
                                        成绩:<input type="text" class="form-control" name="grades" />
                                        <button type="submit">提交成绩结果</button>
                                    </form>
                                </td>
                                <td th:unless="${g.examStatus}==0">成绩已上报</td>
                            </tr>
                        </th:block>
                        <tr th:unless="${#lists.size(gradesInfo)>0}">
                            <td colspan="3">未查询到相应考试信息！</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. WRAPPER  -->

<div th:replace="common/footer"></div>
</body>
</html>