<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('市州人员')"></div>
<body>
<div id="wrapper" class="row">
    <div th:replace="common/header::nav"></div>
    <div id="page-inner">
        <div class="row">
            <div>
                <div>
                    <div class="panel-heading">
                        <div th:text="${msg}" style="color: red;"></div>
                        市州人员信息表
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>性别</th>
                                    <th>年龄</th>
                                    <th>邮箱</th>
                                    <th>电话</th>
                                    <th>证件类型</th>
                                    <th>证件号码</th>
                                    <th>单位</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="e:${mayorInfo}">
                                    <tr th:object="${e}">
                                        <td th:text="*{userName}">1</td>
                                        <td th:text="*{sex}">1</td>
                                        <td th:text="*{age}">1</td>
                                        <td th:text="*{email}">1</td>
                                        <td th:text="*{phone}">1</td>
                                        <td th:text="*{certificateType}">1</td>
                                        <td th:text="*{certificateId}">1</td>
                                        <td th:text="*{institute}">1</td>
                                        <td>
                                            <a th:href="'/userInfo/toUserInfoUpdate?userId='+*{userId}">修改</a>
                                            <a th:href="'/userInfo/userInfoDelete?userId='+*{userId}">删除</a>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                            <a href="/userInfo/toUserInfoAdd">添加市州人员信息</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. ROW  -->
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. WRAPPER  -->

<div th:replace="common/footer"></div>
</body>
</html>