<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('评卷计划更新')"></div>
<body onload="getTime()">
<div id="wrapper" class="row">
    <div th:replace="common/header::nav"></div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div th:text="${msg}" style="color: red;"></div>
                        <h4>考试类型信息表</h4>
                    </div>
                    <div class="panel-body">
                        <form action="/examOffice/testPaperPlanAdd" method="post">
                            <div class="form-group input-group">
                                <td>考试编码  </td>
                                <td>
                                    <input type="text" class="form-control" name="publishId" placeholder="考试编码..." />
                                </td>
                            </div>
                            <div class="form-group input-group">
                                <td>评卷开始日期</td>
                                <td>
                                    <input type="text"  name="judgingStart" class="form-control" placeholder="格式:2020-01-01 00:00:00"
                                           value="" id="datetimepicker" data-date-format="yyyy-mm-dd hh:ii:00" alt="格式:yyyy-MM-dd HH:mm:ss">
                                </td>
                            </div>
                            <div class="form-group input-group">
                                <td>评卷结束日期</td>
                                <td>
                                    <input type="text"  name="judgingEnd" class="form-control" placeholder="格式:2020-01-01 00:00:00"
                                           value="" id="datetimepicker1" data-date-format="yyyy-mm-dd hh:ii:00" alt="格式:yyyy-MM-dd HH:mm:ss">
                                </td>
                            </div>
                            <div class="form-group input-group">
                                <td>院校编号  </td>
                                <td>
                                    <input type="text" class="form-control" name="schoolCode" placeholder="院校编号..." />
                                </td>
                            </div>
                            <div class="form-group input-group">
                                <td>院校名称  </td>
                                <td>
                                    <input type="text" class="form-control" name="schoolName" placeholder="院校名称..." />
                                </td>
                            </div>
                            <div class="form-group input-group">
                                <td>试卷规格  </td>
                                <td>
                                    <input type="text" class="form-control" name="paperCode" placeholder="试卷规格..." />
                                </td>
                            </div>
                            <div class="form-group input-group">
                                <td>试卷份数  </td>
                                <td>
                                    <input type="text" class="form-control" name="paperNum" placeholder="试卷份数..." />
                                </td>
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-primary">保存</button>
                            <button class="btn btn-warning">
                                <a href="/examOffice/toTestPaperPlan" style="color:white;">取消</a>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. ROW  -->
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. WRAPPER  -->


<div th:replace="common/footer"></div>
<script>
    $('#datetimepicker').datetimepicker();
    $('#datetimepicker1').datetimepicker();
</script>
</body>
</html>