<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('违规编码库')"></div>
<body>
<div id="wrapper" class="row">
    <div th:replace="common/header::nav"></div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>考试编号</th>
                            <th>违纪描述</th>
                            <th>处罚描述</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="v:${violationsCode}">
                            <tr >
                                <td th:text="${v.violationsCode}"></td>
                                <td th:text="${v.violationsDes}"></td>
                                <td th:text="${v.punishmentDes}">1</td>
                            </tr>
                        </th:block>
                        <tr th:unless="${#lists.size(violationsCode)>0}">
                            <td colspan="3">未查询到相应违规库信息！</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. WRAPPER  -->

<div th:replace="common/footer"></div>
</body>
</html>