<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('我的考试')"></div>
<body>
<div id="wrapper" class="row">
    <div th:replace="common/header::nav"></div>
    <div id="page-inner">
        <div class="row">

            <div class="col-md-12">
                <div class="panel-heading">
                    <div th:text="${msg}" style="color: red;"></div>
                    <h1 class="page-head-line">已审核</h1>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>考试名称</th>
                            <th>准考证号</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="a:${applicationInfo}">
                            <tr >
                                <td th:text="${a.examineePhoto}">1</td>
                                <td th:text="${a.getExamineeNumber()}">1</td>
                                <td th:if="${a.previewStatus}==1">审核通过</td>
                                <td th:unless="${a.previewStatus}==1">审核失败</td>
                                <td th:if="${a.previewStatus}==1&&${a.applyStatus}==0">
                                    <form action="/student/confirmApply" method="post">
                                        <input type="hidden" class="form-control" name="enterId" th:value="${a.enterId}"/>
                                        报考院校:<input type="text" class="form-control" name="wantSchool" />
                                        <button type="submit">确认报考</button>
                                    </form>
                                </td>
                                <td th:unless = "${a.previewStatus}==1">无法报考</td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. WRAPPER  -->

<div th:replace="common/footer"></div>
</body>
</html>