<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('个人主页')"></div>
<body>
<div id="wrapper" class="row" th:object="${publishExam}">
    <div th:replace="common/header::nav"></div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line" >报名前须知</h1>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        考试须知
                    </div>
                    <div class="panel-body">
                        一、考试开始前15分钟考生凭学生证和有效身份证件（身份证等）进入规定考场对号入座，并将有效证件放在考桌左上角，以便监考人员查验。考试开始指令发出后，考生才能开始答卷。
                        二、考生进入考场必须关闭各种通讯工具。
                        参加闭卷考试考生在入场时除携带必要的文具外，,不准携带其它物品...
                    </div>

                    <form action="/student/signUp" method="post">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <tbody th:object="${studentInfo}">
                                <tr>
                                    <td>考生编号</td>
                                    <td>
                                        <input type="text" id="userId" name="userId" class="required" placeholder="姓名"
                                               value="无" th:value="*{userId}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>考生学校</td>
                                    <td>
                                        <input type="text" id="curSchool" name="curSchool" class="required" placeholder="考生学校"
                                               value="无" th:value="*{institute}">
                                    </td>
                                </tr>

                                </tbody>
                                <tr>
                                    <td>考生类型</td>
                                    <td>
                                        <input type="text" id="stuType" name="stuType" class="required" placeholder="考生类型">
                                    </td>
                                </tr>

                                <tbody th:object="${publishExam}">

                                <tr>
                                    <td>考试编号</td>
                                    <td>
                                        <input type="text" id="publishId" name="publishId" class="required" placeholder="考试编号"
                                               value="无" th:value="*{publishId}">
                                    </td>
                                </tr>

                                </tbody>


                            </table>

                            <th:block th:if="${publishExam != null}">
                                <button type="submit" class="btn btn-primary">报名</button>
<!--                                <button class="btn btn-primary">-->
<!--                                    <a th:href="'/student/confirmApply'" style="color:white;">确认</a>-->
<!--                                </button>-->
                            </th:block>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /. ROW  -->
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. WRAPPER  -->

<div th:replace="common/footer"></div>
</body>
</html>