<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('违规查询')"></div>
<body>
<div id="wrapper" class="row">
    <div th:replace="common/header::nav"></div>
    <div id="page-inner">
        <!--已缴费-->
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>考点名</th>
                            <th>编号</th>
                            <th>考场数目</th>
                            <th>考点地址</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="r,rstatus:${roomManage}">
                            <tr>
                                <td th:text="${rstatus.count}">1</td>
                                <td th:text="${r.roomName}"></td>
                                <td th:text="${r.roomId}"></td>
                                <td th:text="${r.roomNumber}"></td>
                                <td th:text="${r.roomAddress}"></td>
                                <td>
                                    <a th:href="'/mayer/roomManageUpdate?id='+${r.roomId}">修改</a>
                                    <a th:href="'/mayer/roomManageDelete?id='+${r.roomId}" style="color: red;">删除</a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. WRAPPER  -->

<div th:replace="common/footer"></div>
</body>
</html>